#hero {
  height: 400px;
  background: url("../images/places/Hamilton/Hamilton.jfif") center / cover;
  /* background-size: cover; */
}
#hero-content {
  top: 7.5rem;
}
#activities-container {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227, 255, 253) 30%, rgb(207, 244, 255));
}
#activities-container h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: rgb(59, 65, 64);
  text-align: center;
  margin: 1.5rem 0;
}
#activities-container h3 {
  text-align: center;
  margin: 10px;
  color: rgb(0, 160, 117);
}
#activities-list {
  margin: 0 auto;
}
.activity {
  background: linear-gradient(135deg, rgb(233, 233, 233), white);
  box-shadow: inset 1px 1px 3px rgb(179, 179, 179);
  text-align: center;
  margin: 1.25rem auto 0;
  width: 75vw;
  border-radius: 5px;
  overflow: hidden;
}
.activity p {
  padding: 0 1.875rem;
  margin: 0.625rem auto;
  max-width: 80vw;
}
.activity img {
  width: 100%;
  object-fit: cover;
}
.activity-details {
  padding: 1.25rem;
}
.activity-details a {
  padding: 8px 15px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  background-color: rgb(255, 251, 0);
  border-radius: 8px;
  text-decoration: none;
  color: black;
}
.activity-details a:hover {
  background-color: rgb(255, 238, 0);
}
/* adjusting main picture responsivity on PC */
@media screen and (min-width: 20rem) {
  #hero-content {
    top: 8.5rem;
  }
}
@media screen and (min-width: 48rem) {
  #hero-content {
    top: 6rem;
  }
  #activities-container h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 58.75rem) {
  .activity {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    margin: 20px auto;
  }
}
@media screen and (min-width: 75rem) {
  .activity {
    grid-template-columns: 300px 1fr 200px;
    max-width: 1200px;
  }
}
