/* main content */
#hero {
  height: 50rem;
  background: url("images/places/queenstown-new-zealand-luxury-accommodation.jpeg")
    center / cover;
}
#highlights {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(227, 255, 253) 30%, rgb(178, 237, 255));
}
#highlights h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(59, 65, 64);
  text-align: center;
  margin: 24px 0;
}
#destinations {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  margin-bottom: 40px;
}
.destination {
  margin: 0 20px;
}
.destination img {
  height: 200px;
  /* within flex box width 100% on each image make them be in ratio 1:3 and resizable */
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
.destination p {
  text-align: center;
  text-transform: uppercase;
  color: rgb(124, 123, 123);
  font-size: 1.5rem;
  margin: 1.25rem 0;
}
.destination strong {
  color: rgb(0, 160, 117);
}
@media screen and (max-width: 46.875rem) {
  #destinations {
    flex-direction: column;
    justify-content: center;
  }
  #hero {
    height: 30rem;
  }
  #hero-content {
    padding: 1.25rem 0;
    top: 9.375rem;
  }
  #hero-content h1 {
    font-size: 2.25rem;
  }
  #hero-content a,
  #hero-content p {
    font-size: 1rem;
  }
  #highlights h2 {
    font-size: 1.75rem;
  }
  .destination p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 28.125rem) {
  #hero-content {
    padding: 0.625rem 0;
    top: 11.875rem;
  }
  #hero-content h1 {
    font-size: 2rem;
  }
  #hero-content a,
  #hero-content p {
    font-size: 0.75rem;
  }
  .destination p {
    font-size: 1rem;
  }
}
